#gallery {
    text-align: center;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 25px
}

#gallery a {
    color: #333;
    text-decoration: none;

}

#mainImage {
    width: 100%;
    height: 100%;
}

#next {
    padding: 10px
}

#gallery h2 {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    width: 100%;
    border: none;
    background: #333;

}

#gallery p {
    padding: 10px;
}

#gallery input {
    font-size: 20px;
    padding: 10px;

}

.hide {
    display: none;
}

#info {
    background: rgba(26, 26, 26, 0.5);
    color: #fff;
    padding: 8px;

}

.carrusel p {
    cursor: pointer;
    font-size: 25px;
    color: #333;
    display: inline;
}