@import url('https://fonts.googleapis.com/css?family=Sarala');
*{
 font-family: 'Sarala', sans-serif;
}
a{
    color: #fff;
}
#link{
    color: black;

}
body{
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;

}

form {
    width: 1000px;
    margin: auto;
    background:rgba(0,0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top:20px;
    border-radius: 7px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
button{
    background:rgba(0,0, 0, 0.4);
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton {
    background: #31384A;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
#inicio{
    margin-top:20px;
}
#Portafolio{
    margin-top: 20px;
}
@media(max-width:480px){
    #inicio{
        margin-top:50px;
    }
    form{
        width: 100%;
    }
}