
.icon-universal-access:before { content: '\e800'; } /* '' */
.icon-git:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */