.slider {
    background: url(https://raw.githubusercontent.com/angelicanoriega/portafolio/master/imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}

#icon .row div a {
    min-width: 88px;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}
.dropdown-menu a{
    color: white;
}
.dropdown-menu div:hover a{
    color: black;
}
#skills .row div a {
    min-width: 88px;
    border-radius: 50%;
}

#skills-two .row div a {
    min-width: 88px;
    border-radius: 50%;
}

#icon .row div:hover a {
    background: white;
    color: rgba(0, 0, 0, 0.7);
}

#skills .row div:hover a {
    background: white;
    color: rgba(0, 0, 0, 0.7);
}

#Responsabilidad:hover a {
    border: solid 5px rgba(0, 164, 33, 0.7);
    background: white;
    color: rgba(244, 97, 6, 0.7);
}

#Autoaprendizaje:hover a{
    border: solid 5px rgba(172, 18, 18, 0.7);
    background: white;
    color: rgba(147, 8, 114, 0.7);  
}
#Empatía:hover a {
    border: solid 5px rgba(6, 10, 116, 0.7);
    background: white;
    color: rgb(255, 247, 1);
}

#trabajoenEquipo:hover a {
    min-height: 108px;
    padding-top: 5px;
    border: solid 5px rgba(18, 162, 177, 0.7);
    background: white;
    color: rgba(244, 97, 6, 0.7);
}
#Adaptabilidad:hover a {
    
    border: solid 5px rgb(255, 247, 1);;
    background: white;
    color: rgba(0, 164, 33, 0.7);
}
div  #other a{
text-decoration: none;
}

@media(max-width:700px) {
    .movile {
        display: none;
    }
}